*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    text-align: center;
}

div input[type=text] {
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

div input[type=text]:read-only {
    border: 1px solid #0000;
    background-color: #666;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

div button {
    margin: 0 4px;
    padding: 6px 0;
    width: 62px;
    border: 1px solid #999;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

div button:hover {
    background-color: #ccc;
}